@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.blinking-cursor {
  display: inline-block;
  margin-left: 5px;
  width: 1px;
  height: 0.8em;
  background-color: currentColor;
  animation: blink 1s step-end infinite;
}

#about {
  scroll-margin-top: 200px;
}

#experience {
  scroll-margin-top: 70px;
}

#projects {
  scroll-margin-top: 70px;
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: currentColor;
  }
}