@tailwind base;
@tailwind components;
@tailwind utilities;


.blinking-cursor {
  display: inline-block;
  margin-left: 5px;
  width: 1px;
  height: 0.8em;
  background-color: currentColor;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: currentColor;
  }
}